@using HKSJ.WBVV.Common.Http
@using HKSJ.WBVV.MVC.Manage.Common
@using HKSJ.WBVV.Common.Language
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/style-metro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/style-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/default.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/bootstrap/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/DT_bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="@string.Format("{0}/api/GlobalJsConstant", ServerHelper.RootPath)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
</head>
<body class="page-header-fixed" style="background-color: #FFF !important;">
    <!--begin 导航-->
    <div class="no-bottom-space">
        <ul class="breadcrumb">
            <li>
                <span><strong>@LanguageUtil.Translate("admin_Views_SystemMessage_Index_span_Manage")</strong></span>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="@Url.Content("~/SystemMessage")">@LanguageUtil.Translate("admin_Views_SystemMessage_Index_nav_a_SystemlogManage")</a></li>
        </ul>
    </div>
    <!--end 导航-->

    <div class="responsive" data-tablet="fix-offset" id="content">
        <div class="container-fluid">

            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-table">@LanguageUtil.Translate("admin_Views_SystemMessage_Index_nav_i_list")</i>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row-fluid text-right margin-bottom-10">
                        <a class="btn" onclick="seeSystemMessage(0)"><i class="icon-plus"></i>@LanguageUtil.Translate("admin_Views_SystemMessage_Index_a_add")</a>

                    </div>
                    @Html.Partial("_List")
                    @Html.Partial("_Page")
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="@string.Format("{0}/api/GlobalJsConstant", ServerHelper.RootPath)"></script>
<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
<!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/bootstrap/js/excanvas.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/respond.min.js")" type="text/javascript"></script>
    <![endif]-->
<script src="@Url.Content("~/Content/bootstrap/js/jquery.uniform.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/bootstrap/js/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/bootstrap/js/jquery.multi-select.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-2.2.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/pageCommon.js")" type="text/javascript"></script>
@Html.Partial("_Alert")
@Html.Partial("_Confirm")
@Html.Partial("_Edit")
<script type="text/javascript">
    viewModel.userId = "@WebContext.Manage.Id";
    viewModel.listUrl = api + "SystemMessage/GetSystemMessagePageResult";
    viewModel.initData();

    function splitStr(str) {
        var newStr = str;
        if (str && str.length > 50) {
            newStr = str.substring(0, 50) + "...";
        }
        return newStr;
    }

    function seeSystemMessage(id) {
        $("#iframe").modal({ backdrop: 'static' }).css({ width: 800, left: '45%' });
        if (id > 0) {
            $("#iframe_title").text(Translate("admin_Views_SystemMessage_Index_seeSystemMessage_Text_viewMess"));
            $("#save").text(Translate("admin_Views_SystemMessage_Index_seeSystemMessage_Text_confirm")).attr("data-dismiss", "modal").removeAttr("onclick");
            $("#cancel").hide();
            $("select[name='userByType']").attr("disabled", "disabled");
            $("#surplusUser").attr("disabled", "disabled");
            $("#selectUser").attr("disabled", "disabled");
            $("textarea[name='messageDesc']").attr("disabled", "disabled");
        } else {
            $("#iframe_title").text(Translate("admin_Views_SystemMessage_Index_seeSystemMessage_Text_addMess"));
            $("#save").text(Translate("admin_Views_SystemMessage_Index_seeSystemMessage_Text_save")).attr("onclick", "save()");
            $("#cancel").show();
            $("select[name='userByType']").removeAttr("disabled");
            $("#surplusUser").removeAttr("disabled");
            $("#selectUser").removeAttr("disabled");
            $("textarea[name='messageDesc']").removeAttr("disabled");
        }

        $.getJSON(api + "SystemMessage/GetSystemMessage?id=" + id, function (responseData) {
            if (responseData) {
                $("select[name='userByType']").val(responseData.SendType);
                CheckUserByType("select[name='userByType']");
                $("textarea[name='messageDesc']").val(responseData.Content);
                if (responseData.SendType != 3) {
                    GetUsers(responseData.ToUserIds);
                }
            }
        });
    }

    function GetUsers(userBy) {
        $.post(api + "SystemMessage/GetUsers", { userBy: userBy }, function (responseData) {
            if (responseData) {
                var selectUser = responseData.SelectUser;
                var surplusUser = responseData.SurplusUser;

                $("#surplusUser").html("");
                var options = "";
                $.each(surplusUser, function (name, value) {
                    options += "<option value='" + value.UserId + "'>" + value.UserName + "</option>";
                });
                $("#surplusUser").html(options);

                $("#selectUser").html("");
                var options1 = "";
                $.each(selectUser, function (name, value) {
                    options1 += "<option value='" + value.UserId + "'>" + value.UserName + "</option>";
                });
                $("#selectUser").html(options1);


                $("#surplusUser").change(function () {
                    var $options = $("#surplusUser option:selected");
                    var $remove = $options.remove();
                    $remove.appendTo("#selectUser");
                    $("#selectUser").change(function () {
                        var $options1 = $("#selectUser option:selected");
                        var $remove1 = $options1.remove();
                        $remove1.appendTo("#surplusUser");
                    });
                });

                $("#selectUser").change(function () {
                    var $options = $("#selectUser option:selected");
                    var $remove = $options.remove();
                    $remove.appendTo("#surplusUser");
                    $("#surplusUser").change(function () {
                        var $options1 = $("#surplusUser option:selected");
                        var $remove1 = $options1.remove();
                        $remove1.appendTo("#selectUser");
                    });
                });
            }
        });
    }

    function CheckUserByType(element) {
        var val = $(element).val();
        if (val == 1) {
            //$("#userLeve").hide();
            $("#byUser").show();
            GetUsers("");
        } else if (val == 2) {
            $("#byUser").hide();
            //$("#userLeve").show();
        } else {
            //$("#userLeve").hide();
            $("#byUser").hide();
        }
    }

    function save() {
        var userByType = $("select[name='userByType'] :selected").val();
        var selectUser = "";
        if (userByType === "1") {
            var aSelectUser = [];
            $("#selectUser option").each(function() {
                aSelectUser.push($(this).val());
            });
            if (aSelectUser.length>0) {
                selectUser = aSelectUser.join("|");
            }
        }
        var data = {
            uid: $("input[name='loginUserId']").val(),
            suser: selectUser,
            utype: userByType,
            messageDesc: $("textarea[name='messageDesc']").val()

        };
        $.post(rootPath + "/SystemMessage/CreateSystemMessage", data, function (responseData) {
            if (responseData && responseData.Success) {
                window.location.reload();
            } else {
                viewModel.initAlert(Translate("admin_Views_SystemMessage_Index_post_alert_OperateTip"), responseData.ExceptionMessage);
            }
        });
    }
</script>