@using HKSJ.WBVV.Common.Http
@using HKSJ.WBVV.Common.Language
@{
    ViewBag.Title = @LanguageUtil.Translate("web_View_Filter_Index_title");
}

@section Styles
{
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/video_funny.css" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/paging.css" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/playease.css" />
}


@Html.Action("FirstCategory", "Home")
@Html.Partial("Filter")
<div class="v_funney wrap">
    @Html.Partial("List")
    @Html.Partial("Paging")
</div>



@section Scripts
{
    <script src="@ServerHelper.RootPath/Content/js/common.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Content/js/playerease.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Content/js/filter.js" type="text/javascript"></script>
}
