@using HKSJ.WBVV.Common.Http
@using HKSJ.WBVV.MVC.Client.GlobalVariable
@using HKSJ.WBVV.Common.Language
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section Metas
{
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Language" content="zh-CN" />
}

@section Styles
{
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/person_com.css" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/5bvv_person.css" />
}
@section Scripts
{
    <script src="@ServerHelper.RootPath/Content/js/playerease.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Content/js/roomIndex.js" type="text/javascript"></script>


}
<!-- 原创视频集 开始  -->
<div class="Person_home wrap" id="main_index">

    <div class="Person_home_left">
        <div class="Person_home_l_video1 Person_home_l_video">
            <div class="Person_home_l_title">
                <h7>@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_HotVideo")</h7>
                <span class="Person_home_l_i_text" id="vdCount">（<!--ko text:OwnerData.HotVideos().length--><!--/ko-->）</span>
                <div class="Person_home_l_t_ann2"><a href="@ServerHelper.RootPath/Upload" target="_blank">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_UploadNewVideo")</a></div>
                <div class="clear"></div>
            </div>
            <div class="per_acc_chang" loading="vedio">
                <ul>
                    <!--ko foreach:OwnerData.HotVideos -->
                    <li data-bind="attr:{title:Title}">
                        <div class="Person_home_l_v_img">
                            <a data-bind="attr:{href:$root.goPlayer($data.Id)}" target="_blank">
                                <div class="play_img" wth="176" hht="132">
                                    <i></i>
                                    <img data-bind="attr:{src:SmallPicturePath,alt:Title,sid:Id}" width="176" height="132">
                                </div>
                            </a>
                            <div class="Person_home_l_v_time">@*03:15*@</div>
                        </div>

                        <div class="per_f_v_text">
                            <p><a data-bind="text:Title,attr:{href:$root.goPlayer($data.Id),title:Title}" target="_blank"></a></p>
                        </div>
                        <div class="Person_home_l_v_shul">
                            <a class="Per_h_l_v_s_bfang"></a><span><!--ko text:PlayCount--><!--/ko--></span>
                            <a class="Per_h_l_v_s_xx"></a><span><!--ko text:CommentCount--><!--/ko--></span>

                            <a class="Person_home_l_delete" href="javascript:void(0);" data-bind="click:function(){$root.doRemoveVideo($data.Id,$element)}">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_Remove")</a>
                        </div>
                    </li>
                    <!--/ko-->
                    <li id="btnAddVideo" data-bind="visible:$root.isEditManage()&&OwnerData.HotVideos().length>0">
                        <a class="Person_home_l_addvideo_me" href="javascript:showVideo();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_ContinueAddVideo")</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="Person_home_ann_box" data-bind="visible:OwnerData.HotVideos().length==0">
                <a class="Person_home_l_a_v_mr" href="javascript:showVideo();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_AddVideo")</a>
            </div>
        </div>

        <div class="Person_home_l_video1 Person_home_l_video" loading="album">
            <div class="Person_home_l_title">
                <h7>@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_AlbumRecommendation")</h7>
                <span class="Person_home_l_i_text" id="bmCount">（<!--ko text:OwnerData.AlbumVideosLength--><!--/ko-->）</span>
                <div class="Person_home_l_t_ann2"><a href="@ServerHelper.RootPath/UserCenter/UserAlbums" target="_blank">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_AddNewAlbum")</a></div>
                <div class="clear"></div>
            </div>
            <!--ko foreach:OwnerData.AlbumVideos -->
            <div class="Person_home_l_v_title">
                <h5 class="clearfloat">
                    <a class="Person_home_l_delete" href="javascript:void(0);" data-bind="click:function(){$root.doRemoveAlbum($data.Category.Id,$element)}">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_RemoveAlbum")</a>
                    <a data-bind="attr:{href:$root.goSonAlbum(Category.Id)}">【<!--ko text:Category.Name --><!--/ko-->】</a>
                    <span class="Person_home_l_i_text">(<!--ko text:AlbumVideo().length --><!--/ko-->)</span>
                </h5>
                <div class="per_acc_chang">
                    <ul data-bind="foreach:AlbumVideo">
                        <li data-bind="attr:{title:Title}">
                            <div class="Person_home_l_v_img">
                                <a data-bind="attr:{href:$root.goPlayer($data.Id)}" target="_blank">
                                    <div class="play_img" wth="176" hht="132">
                                        <i></i>
                                        <img data-bind="attr:{src:SmallPicturePath,alt:Title,sid:Id}" width="176" height="132">
                                    </div>

                                </a>
                                <div class="Person_home_l_v_time">@*03:15*@</div>
                            </div>

                            <div class="per_f_v_text">
                                <p><a data-bind="text:Title,attr:{href:$root.goPlayer($data.Id),title:Title}" target="_blank"></a></p>
                            </div>
                            <div class="Person_home_l_v_shul">
                                <span class="Per_h_l_v_s_bfang"><!--ko text:PlayCount--><!--/ko--></span>
                                <span class="Per_h_l_v_s_xx"><!--ko text:CommentCount--><!--/ko--></span>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <!--/ko -->
            <div id="btnAddAlbums" class="Person_home_ann_box" data-bind="visible:$root.isEditManage()">
                <a class="Person_home_l_addvideo_me" href="javascript:showAlbums();" data-bind="text:OwnerData.AlbumVideos().length==0?'@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_AddAlbum")':'@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_ContinueAddAlbum")'"></a>
            </div>
        </div>

    </div>

    <div class="Person_home_right">

        <div class="Person_home_r_img Person_home_r_fs">
            <div class="Person_home_r_title">
                <h6 class="Person_home_r_t_biti">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_FansTitle")</h6>
                <span class="Person_home_r_i_text"></span>
                <div class="clear"></div>
            </div>
            <div class="per_fks" loading="fensi" style="min-height:30px;">
                <ul data-bind="foreach:OwnerData.Fans">
                    <li data-bind="attr:{title:UserView.NickName}">
                        <a href="#" data-bind="attr:{href:$root.getVisitLogUserRoomUrl($data)}"><img data-bind="attr:{src:$root.handUserPicture(UserView.Picture)}" width="52" height="52"></a>
                        <p><a data-bind="text:UserView.NickName,attr:{href:$root.getVisitLogUserRoomUrl($data)}"></a></p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>


        <div class="Person_home_r_img Person_home_r_fk">
            <div class="Person_home_r_title">
                <h6>@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_HistoryVisitors")</h6>
            </div>
            <div class="per_fks" loading="fangke" style="min-height:30px;">
                <ul data-bind="foreach:OwnerData.HistoryVisitors">
                    <!--ko if:$root.browserUserId()!=UserView.Id -->
                    <li data-bind="attr:{title:UserView.NickName}">
                        <a href="#" data-bind="attr:{href:$root.getVisitLogUserRoomUrl($data)}"><img userimg="1" data-bind="attr:{src:$root.handUserPicture(UserView.Picture)}" width="52" height="52"></a>
                        <p><a data-bind="text:UserView.NickName,attr:{href:$root.getVisitLogUserRoomUrl($data)}"></a></p>
                    </li>
                    <!--/ko-->
                </ul>
                <div class="clear"></div>
            </div>
        </div>

        <div class="Person_home_r_tj">
            <div class="Person_home_r_title">
                <h6>@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_ForYouReCommend")</h6>
            </div>
            <div class="Person_home_r_t_nr" loading="foryoutj" style="min-height:30px;">
                <ul data-bind="foreach:OwnerData.ForYouRecomments">
                    <!--ko if:!$root.isCurrLogin(UserView.Id)-->
                    <li data-bind="attr:{title:UserView.NickName}">
                        <div class="Person_home_r_t_img">
                            <a data-bind="attr:{href:$root.getVisitLogUserRoomUrl($data)}">
                                <img data-bind="attr:{src:$root.handUserPicture(UserView.Picture)}" width="52" height="52">
                            </a>
                        </div>
                        <div class="Person_home_r_t_wz">
                            <p>
                                <a href="#" data-bind="text:UserView.NickName,attr:{href:$root.getVisitLogUserRoomUrl($data)}"></a>
                            </p>
                            <div class="Person_home_r_t_w_nr"><img userimg="1" src="@ServerHelper.RootPath/Content/images/icon_img/vip_01.png" /><span>@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_Integral")</span></div>
                        </div>
                        <div class="Person_home_r_ann"><a href="#" data-bind="click:function(){if(!State()){$root.subUser($data);}}">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_Subscribe")</a></div>
                        <div class="clear"></div>
                    </li>
                    <!--/ko-->
                </ul>

            </div>
        </div>

    </div>

    <div class="clear"></div>
</div>
<!-- 原创视频集 结束  -->
<!-- 添加视频 开始  -->
<div class="mask opacity" id="divBG" style="display:none;">
    <div id="divVideoAddBOX" class="per_alb_vid_add_box" tabindex="-1" style="display:none;">
        <div class="per_alb_vid_add_box01" style="max-height:230px;overflow-y:auto;">
            <ul data-bind="foreach:videos">
                <li>
                    <input name="chkVideo" type="checkbox" data-bind="value:Id">
                    <a href="javascript:void(0);" data-bind="click:function(){$root.ckTolgge($element)}"><!--ko text:Title--><!--/ko--></a>
                </li>
            </ul>

        </div>
        <div class="per_alb_vid_add_box02">
            <p><a id="btnLoadMoreVideo" href="javascript:doLoadMoreVideo();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_ClickVideoSeeMore")</a></p>
        </div>
        <div class="per_alb_vid_add_box03">
            <a class="sure" href="javascript:doAddVideo();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_VideoConfirm")</a> 
            <a href="javascript:closeVideo();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_VideoCancel")</a>
            <div class="clear"></div>
        </div>
    </div>

    <div id="divAlbumsAddBOX" class="per_alb_vid_add_box" tabindex="-1" style="display:none;">
        <div class="per_alb_vid_add_box01" style="max-height:230px;overflow-y:auto;">
            <ul data-bind="foreach:Albums">
                <li>
                    <input name="chkAlbums" type="checkbox" data-bind="value:Id">
                    <a href=" javascript:void(0);" data-bind="click:function(){$root.ckTolgge($element)}"><!--ko text:Title--><!--/ko--></a>
                </li>
            </ul>

        </div>
        <div class="per_alb_vid_add_box02">
            <p><a id="btnLoadMoreAlbums" href="javascript:doLoadMoreAlbums();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_ClickAlbumSeeMore")</a></p>
        </div>
        <div class="per_alb_vid_add_box03">
            <a class="sure" href="javascript:doAddAlbums();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_AlbumConfirm")</a>
            <a href="javascript:closeAlbums();">@LanguageUtil.Translate("web_Client_Views_UserRoom_RoomManage_AlbumCancel")</a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 添加视频 开始  -->


<script>

    function showVideo() {
        $("#divBG").show();//显示遮罩层
        $("#divVideoAddBOX").show();//显示弹出框
    }

    function closeVideo() {//关闭所有层
        $("#divBG").hide();
        $("#divVideoAddBOX").hide();
    }

    function showAlbums() {
        $("#divBG").show();//显示遮罩层
        $("#divAlbumsAddBOX").show();//显示弹出框
    }

    function closeAlbums() {//关闭所有层
        $("#divBG").hide();
        $("#divAlbumsAddBOX").hide();
    }
</script>
<script src="@ServerHelper.RootPath/Content/js/roomManage.js" type="text/javascript"></script>