@using HKSJ.WBVV.Common.Http
@{
    ViewBag.Title = "";
}

@section Styles
{
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/search.css" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/account.css" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/paging.css" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/playease.css" />

}




<div class="wrap">
    @Html.Partial("Title")
    <div class="search_center">
        @Html.Partial("SearchIndex")
        @Html.Partial("List")
    </div>
</div>


@section Scripts
{
    <script src="@ServerHelper.RootPath/Content/js/playerease.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Content/js/search.js" type="text/javascript"></script>
}



