@using HKSJ.WBVV.Common.Http
@using HKSJ.WBVV.MVC.Manage.Common
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/style-metro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/style-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/default.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/bootstrap/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/DT_bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/tags/infotag.css" rel="stylesheet" />
    <style>
        .modalcss {
            position: relative;
            max-height: 1200px;
            padding: 15px;
            overflow-y: initial;
            height: 950px;
            background-color: #ffffff;
            /* background: #ffffff; */
        }

        table {
            background: #E4E4E4;
            width: 100%;
        }

        ul li {
            list-style-type: none;
        }

        .reason {
            width: 440px;
            display: none;
        }

        .tags {
            background: white;
            padding: 0px 5px 0px 5px;
            color: black;
            margin: 5px 7px 5px 0px;
            line-height: 20px;
            text-decoration: none;
            float: left;
        }

        a:hover {
            text-decoration: none;
            color: black;
        }
    </style>
    <script src="~/Content/videoplayer/flash/swfobject.js"></script>
    <script src="~/Content/videoplayer/javascript/common.js"></script>
    <script src="~/Content/videoplayer/javascript/video.js"></script>
    <script src="~/Content/videoplayer/javascript/videoPlayerInit.js"></script>
</head>
<body>
    <div id="approve" class="" tabindex="-1" style="margin-top: 0px; ">

        @*<div class="modal-body modalcss">
                <div id="divFlashPlayer">

                </div>
                <div class="row-fluid margin-bottom-10">
                    <label class="control-label">审核内容</label>
                    <div class="controls">
                        <select class="per_a_add_nr_l_sort" style="float: left" id="approveContent">
                            <option value="-1">通过</option>
                            <option value="0">不通过包含违法信息</option>
                            <option value="1">不通过视频不够清晰</option>
                            <option value="2">不通过视频时长不够</option>
                            <option value="3">不通过其他</option>
                        </select>
                    </div>
                </div>
                <div class="row-fluid margin-bottom-10">
                    <label class="control-label">备注</label>
                    <div class="controls">
                        <textarea placeholder="备注" id="ApproveRemark" class="large m-wrap" rows="3"></textarea>
                    </div>
                </div>
                <div class="row-fluid margin-bottom-10">
                    <button type="submit" class="btn blue" id="approvePass" onclick="ApproveVideo(false)"><i class="icon-ok"></i>通过</button>
                    <button type="button" class="btn blue" id="approveNoPass" onclick="ApproveVideo(true)">不通过</button>
                </div>
            </div>*@
        <table style=" height:700px;">
            <tr>
                <td style="padding:10px 0px 5px 10px;width:505px; height:283px; vertical-align:top;">
                    <div style="width:500px; height:283px; border:solid 1px red;" id="divFlashPlayer"></div>
                </td>
                <td style=" vertical-align:top;padding-top:10px;" rowspan="2">
                    <ul style="margin-left:5px">
                        <li>
                            <div style="width:347px; ">
                                <strong><span id="h2Title"></span></strong>
                            </div>
                        </li>
                        <li>
                            <div style=" width:347px;overflow:hidden;">
                                <span id="spTags"></span>
                            </div>
                        </li>
                        <li>
                            <div width="347px">
                                <span id="spDesc"></span>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top; height:100px;">
                    <ul>
                        <li>
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td><label style="width:40px;">类型:</label></td>
                                    <td><select class="per_a_add_nr_l_sort" id="selCategory" onchange="changeCategory(this)"></select></td>
                                    <td><select class="per_a_add_nr_l_sort" id="selSubCategory"></select></td>
                                    <td><span style="color:red;position: relative; top: -5px;">*</span></td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="width:80px;"><label>版权:</label></td>
                                    <td style="width:70px;"><span name="rdoOriginal"><input type="radio" value="1" style="position: relative; top: -5px;" />原创</span></td>
                                    <td><span name="rdoOriginal"><input type="radio" value="2" style="position: relative; top: -5px;" />转载</span></td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="width:80px;"><label>审核结果:</label></td>
                                    <td style="width:70px;"><span name="rdoAudit"><input type="radio" value="3" style="position: relative; top: -5px;">通过</span></td>
                                    <td style="width:70px;"><span name="rdoAudit"><input type="radio" value="4" style="position: relative; top: -5px;" />不通过</span></td>
                                    <td><span style="color:red;position: relative; top: 1px;">*</span></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2" id="tdImg">
                    <img src="@Url.Content("~/Content/images/d.png")" style="position: absolute; top: 384px; left: 171px;" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:250px;">
                    <div style="border:solid 1px #FF6600;" id="divReason">
                        <ul class="reason">
                            <li><input type="radio" name="rdoReson" value="1" />含有垃圾广告、恶意推广、灌水刷屏等内容;</li>
                            <li><input type="radio" name="rdoReson" value="2" />无意义、乱码、难以理解、或者严重与视频内容不符的标题、简介、标签;</li>
                            <li><input type="radio" name="rdoReson" value="3" />视频画质清晰度太低、黑屏、花屏或者严重损坏</li>
                            <li><input type="radio" name="rdoReson" value="4" />含有淫秽色情或者低俗内容，有性暗示、性挑逗、色情诱导等相关内容;</li>
                            <li><input type="radio" name="rdoReson" value="5" />含有谩骂、侮辱、诽谤，恶意恶搞、贬损、歧视他人的内容;</li>
                            <li><input type="radio" name="rdoReson" value="6" />泄露他人隐私信息</li>
                            <li><input type="radio" name="rdoReson" value="7" />宣扬暴力、血腥、恐怖、凶杀、犯罪等行为;</li>
                            <li><input type="radio" name="rdoReson" value="8" />有违反国家法律法规的内容;</li>
                            <li><input type="radio" name="rdoReson" value="9" />其它<input type="text" id="other" style="position: relative; top: 4px; width:330px;" onkeyup="getMaxStr(this,50)" />&nbsp;<span id="spRemark">0/50</span></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:top;" colspan="2"><button onclick="save()" class="btn blue">确认</button>&nbsp;<button onclick="javascript:window.close()" class="btn green">返回</button></td>
            </tr>
        </table>
    </div>

</body>
</html>
<input type="hidden" id="videoPath" />
<script src="@string.Format("{0}/api/GlobalJsConstant", ServerHelper.RootPath)"></script>
<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
<!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/bootstrap/js/excanvas.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/respond.min.js")" type="text/javascript"></script>
    <![endif]-->
<script src="@Url.Content("~/Content/bootstrap/js/jquery.uniform.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/bootstrap/js/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/pageCommon.js")" type="text/javascript"></script>
<script src="@string.Format("{0}/api/GlobalJsConstant", ServerHelper.RootPath)"></script>
<script>
    var vid = '@ViewBag.vid';
    var videoState = '@ViewBag.videoState';
    var approveContent = '@ViewBag.approveContent';
    var subCategoryObj = [];
    $(function () {
        loadCategory();
        LoadData(vid, videoState);

        $("span[name=rdoOriginal]").css("cursor", "pointer");
        $("span[name=rdoOriginal]").bind("click", function () {
            $("span[name=rdoOriginal]").find("input[type=radio]").attr("checked", false);
            $(this).find("input[type=radio]").attr("checked", true);
        });

        $("span[name=rdoAudit]").css("cursor", "pointer");
        $("span[name=rdoAudit]").bind("click", function () {
            $("span[name=rdoAudit]").find("input[type=radio]").attr("checked", false);
            $(this).find("input[type=radio]").attr("checked", true);
            if ($(this).find("input[type=radio]").val() == 3) {
                $(".reason").css("display", "none");
                $("#tdImg").attr("style", "display:none;");
                $("#divReason").removeAttr("style");
            } else {
                $(".reason").css("display", "block");
                $("#tdImg").attr("style", "display:block;");
                $("#divReason").attr("style", "border:solid 1px #FF6600;");
            }
        });

        $("ul li").attr("style", "cursor:pointer;pointer;line-height: 25px;");

        $("ul li").eq(2).attr("style", "cursor:pointer;pointer;line-height: 25px;width:330px;color:#797979;");
        $(".reason li").bind("click", function () {
            $(".reason li").find("input[type=radio][name=rdoReson]").attr("checked", false);
            $(".reason li").find("input[type=radio][name=rdoReson]").attr("style", "position: relative; top: -5px;");
            $(this).find("input[type=radio][name=rdoReson]").attr("checked", true);
        });
    });

    function LoadData(vid, videoState) {
        // $("#vid").val(vid);
        //$("#approve").modal({ backdrop: 'static' }).css({
        //    width: 920,
        //    'margin-left': function () {
        //        return -($(this).width() / 2);
        //    },
        //    height: 800,
        //});
        if (videoState == 3) {
            $("#approvePass").hide();
            $("#approveNoPass").show();
        } else if (videoState == 4) {
            $("#approvePass").show();
            $("#approveNoPass").hide();
        } else {
            $("#approvePass").show();
            $("#approveNoPass").show();
        }
        var url = api + 'Video/GetAVideoById?id=' + vid;
        $.ajax({
            type: "get",
            url: url,
            dataType: "json",
            success: function (data) {

                playVedio(data);

                $("#h2Title").text(data.Title);
                var tagArray = data.Tags.split('|');
                for (var i = 0; i < tagArray.length; i++) {
                    if (tagArray[i] != "") {
                        $("#spTags").append("<a class=\"tags\">" + tagArray[i] + "</a>");
                    }
                }

                $("#spDesc").text(data.About);

                loadSubCategory(data.CategoryId);//二级分类

                $("span[name=rdoOriginal]").find("input[type=radio][value=" + data.Copyright + "]").attr("checked", true);
                $("span[name=rdoAudit]").find("input[type=radio][value=" + data.VideoState + "]").attr("checked", true);

                if (data.VideoState == 4) {
                    $(".reason").css("display", "block");
                    $("input[type=radio][name=rdoReson][value=" + approveContent + "]").attr("checked", true);
                } else {
                    $("#tdImg").css("display", "none");
                    $("#divReason").removeAttr("style");
                }
                $("ul li").find("input[type=radio][name=rdoReson]").attr("style", "position: relative; top: -5px;");
            },
            error: function () {

            }
        });
    }

    //审核
    function ApproveVideo(status) {
        // var vid = $("#vid").val();
        if (status == true) {
            if ($("#approveContent").val() == -1) {
                alert("审核内容不对");
                return;
            }
        } else {
            if ($("#approveContent").val() > -1) {
                alert("审核内容不对");
                return;
            }
        }
        var approveContent = $("#approveContent").find("option:selected").text();
        var approveRemark = $("#ApproveRemark").val();
        var dataPara = {
            ApproveContent: approveContent,
            ApproveRemark: approveRemark,
            VideoId: vid,
            Status: status,
            CreateAdminId: '@WebContext.Manage.Id'
        };
        var url = rootPath + '/Video/AddApproveInfo';
        $.ajax({
            type: "post",
            url: url,
            data: {
                dataModel: dataPara
            },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    if (data.Data) {
                        alert("OK");
                        // $('#approve').modal('hide');
                        //$('#approveContent').val(-1);
                        //viewModel.initData();
                        opener.viewModel.initData();
                        close();
                    } else {
                        alert("视频标题标签不能为空");
                    }
                }
            },
            error: function (err) {

            }
        });
    }

    //保存
    function save() {
        var categoryId = $("#selCategory").val();//一级分类
        var subCategoryId = $("#selSubCategory").val();//二级分类
        var rdoOriginal = $("span[name=rdoOriginal]").find("input[type=radio]:checked").val();//是否原创
        var rdoAudit = $("span[name=rdoAudit]").find("input[type=radio]:checked").val();//审核是否通过
        var rdoReson = $("input[type=radio][name=rdoReson]:checked").val();
        var reasonTxt = $("input[type=radio][name=rdoReson]:checked").parent().text();
        var remark = $.trim($("#other").val());

        if (subCategoryId == -1 || subCategoryId == undefined) {
            alert("请选择二级分类");
            return;
        }
        else if (rdoOriginal == -1) {
            alert("请选择版板所属");
            return;
        }
        else if (rdoAudit == -1 || rdoAudit == undefined) {
            alert("请选择审核结果");
            return;
        }
        else if (rdoAudit == 4 && (rdoReson == -1 || rdoReson == undefined)) {
            alert("请选择原因");
            return;
        }
        else if (rdoAudit == 4 && rdoReson == 9 && remark == "") {
            alert("请填写“其它”信息");
            return;
        }
        if (rdoReson == 9) {
            reasonTxt = "原因："+remark;
        }
        if (rdoAudit==3) {
            rdoReson = "0";
            reasonTxt = "审核通过";
        }
        var dataPara = {
            ApproveContent: rdoReson,
            ApproveRemark: reasonTxt,
            Copyright: rdoOriginal,
            VideoId: vid,
            Status: rdoAudit,
            CreateAdminId: '@WebContext.Manage.Id',
            CategoryId: subCategoryId
        };
        var url = rootPath + '/AuditVideo/AddApproveInfo';
        $.ajax({
            type: "post",
            url: url,
            data: dataPara,
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    alert("已完成审核");
                    opener.viewModel.initData();
                    close();
                } else {
                    alert(data.ExceptionMessage);
                }
            }, error: function (err) { }
        });
    }

    //加载分类集合
    function loadCategory() {
        var url = api + "Category/GetCategoryViewList?v=" + Math.random();
        var result = [];
        $.ajax({ type: "get", url: url, data: {}, async: false, dataType: "json", success: function (data) { subCategoryObj = data; }, error: function (err) { } });

        var option = "<option value='-1'>--请选择一级分类--</option>";
        if (subCategoryObj.length > 0) {
            var cateList = getObj(subCategoryObj, { key: "pId", value: 0 });
            $(cateList).each(function (i, o) {
                option += "<option value='" + o.id + "'>" + o.name + "</option>";
            });
            $("#selCategory").empty().html(option);
        }
    }

    //加载二级分类
    function loadSubCategory(id) {
        if (subCategoryObj.length > 0) {
            var singleObj = getObj(subCategoryObj, { key: "id", value: id });
            if (singleObj.length > 0) {
                if (singleObj[0].pId == 0) {
                    $("#selCategory").val(id);
                    changeCategory($("#selCategory"));
                } else {
                    $("#selCategory").val(singleObj[0].pId);
                    changeCategory($("#selCategory"));
                    $("#selSubCategory").val(id);
                }
            } else {
                $("#selCategory").val(0);
                changeCategory($("#selCategory"));
                $("#selSubCategory").val(0);
            }
        }
    }

    //二级分类
    function changeCategory(obj) {
        var subList = getObj(subCategoryObj, { key: "pId", value: $(obj).val() });
        var option = "<option value='-1'>--请选择二级分类--</option>";
        $(subList).each(function (i, o) {
            option += "<option value='" + o.id + "'>" + o.name + "</option>";
        });
        $("#selSubCategory").empty().html(option);
    }

    //筛选对象
    function getObj(o, p) {
        var obj = [];
        $(o).each(function (i, oo) {
            if (p.key == "id" && p.value == oo.id) {
                obj.push(oo);
            }
            if (p.key == "pId" && p.value == oo.pId) {
                obj.push(oo);
            }
        });
        return obj;
    }

    //验证输入最大字符串个数
    function getMaxStr(obj, num) {
        var str = $(obj).val();
        var n = str.length;
        if (str.length > num) {
            var v = str.substring(0, num);
            $(obj).val(v);
            n = num;
        }
        $("#spRemark").text(n + "/" + num);
    }

    //---------------------------------------------begin 调用播放器--------------------------------//
    //页面数据初始化完毕会加载该函数
    function playVedio(videoDetailData) {
        var videoInfo = function () {
            self = this;
            self.id = "divFlashPlayer";
            self.videoPathInfo = "0" + "," + "0" + "," + "" + "," + videoDetailData.VideoPath;
            self.advertPathInfo = "http://7xliow.com2.z0.glb.qiniucdn.com/1441172688325_600x480.mp4" + "," + "10" + "," + "http://1.178pb.com" + "#";
            self.fWidth = 500;
            self.fHeight = 283;
        };
        doInit(new videoInfo());
    }
    //---------------------------------------------end 调用播放器--------------------------------//
</script>