@using HKSJ.WBVV.Common.Http
@using HKSJ.WBVV.MVC.Common
@using HKSJ.WBVV.Common.Language
<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta property="qc:admins" content="3764477527652666375" />
    <meta property="wb:webmaster" content="be16c31960ba0ceb" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("Metas", false)
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/HomePageCss")
    <link rel="icon" type="image/x-icon" href="@string.Format("{0}/favicon.ico", ServerHelper.RootPath)" />
    <link rel="shortcut icon" type="image/x-icon" href="@string.Format("{0}/favicon.ico", ServerHelper.RootPath)" />
    <link type="text/css" rel="stylesheet" href="@string.Format("{0}/Content/pager/pager.css", ServerHelper.RootPath)" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/person_com.css" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.RootPath/Content/css/gotop.css" />
    @RenderSection("Styles", false)
    <script src="@ServerHelper.RootPath/api/GlobalJsConstant"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    <script src="@ServerHelper.RootPath/Content/js/common.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Scripts/jquery.blockUI.min.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Scripts/jquery.scrollTo.min.js" type="text/javascript"></script>
    @*表情组件*@
    <link href="@ServerHelper.RootPath/Content/js/emotion/jquery.Emotion.css" rel="stylesheet" />
    <script src="@ServerHelper.RootPath/Content/js/emotion/jquery.Emotion.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Content/pager/jquery.pager.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Content/js/login.js" type="text/javascript"></script>
    <script src="@ServerHelper.RootPath/Content/js/base64.js" type="text/javascript"></script>

    @*begin 问题反馈引用*@
    <link href="http://120.25.1.78:8085/Css/feedback.css" rel="stylesheet" />
    <script src="http://120.25.1.78:8085/Script/addQuestionFeedback.js"></script>
    @*end 问题反馈引用*@

    <script>
        var userId = '@HKSJ.WBVV.MVC.Client.GlobalVariable.GlobalMemberInfo.UserId';
    </script>
</head>
<body>
    @Html.Action("_Header", "Home")

    @RenderBody()

    @RenderSection("Scripts", false)

    @Html.Action("_Footer", "Home")

    <!--提示框 -->
    <div id="globalbBG" class="bg"></div>
    <div id="globalMassage" class="tishi">
        <div id="globalIcon" class="ts_01"><span id="globalTxtMassage"></span></div>
    </div>
    <!--提示框 -->
    <!-- 提示弹框 -->
    <div id="globalbPromptBG" class="bg02"></div>
    <div id="globalbPromptMassage" class="tankuang">
        <div class="tan_top">
            <div class="tan_top_01" id="globalbPromptTitle">@LanguageUtil.Translate("web_Views_Shared_Layout_globalbPromptMassage_globalbPromptTitle")</div>
            <div class="login_close"><a href="javascript:void(0);" name="btnCancelExe"><img src="@ServerHelper.RootPath/Content/images/icon_img/icon_close.png"></a></div>
            <div class="clear"></div>
        </div>
        <div class="tan_main">
            <div class="tan_m_tu"><span id="globalbPromptTxtMassage">@LanguageUtil.Translate("web_Views_Shared_Layout_globalbPromptMassage_globalbPromptTxtMassage")</span></div>
        </div>
        <div class="tan_foot">
            <input class="tsn_f_01" type="button" value="@LanguageUtil.Translate("web_Views_Shared_Layout_globalbPromptMassage_okBtn")" id="btnExeFunction"><input class="tsn_f_02" type="button" name="btnCancelExe" value="@LanguageUtil.Translate("web_Views_Shared_Layout_globalbPromptMassage_cancelBtn")">
            <div class="clear"></div>
        </div>
    </div>
    <!-- 提示弹框 -->
    <!-- 返回顶部 -->
    <div class="bottom_tools">
        <a id="feedback" href="javascript:void(0);" onclick="javascript: doFeedback();" title="@LanguageUtil.Translate("web_Views_Shared_Layout_bottom_tools_feedback")"></a>
        <a id="scrollUp" href="javascript:void(0);" title="@LanguageUtil.Translate("web_Views_Shared_Layout_bottom_tools_scrollUp")"></a>
    </div>
    <!-- 返回顶部 -->

</body>
</html>